This is my first python program

# Data Analytics with Python

# Hello Python

# Day 2

In [1]:
a = 1

In [2]:
print(a)

1

In [3]:
x = " apple"
print(x)

 apple

In [4]:
myAge = 30

In [5]:
print(myAge)

30

In [7]:
1@a = "raka"
print(1@a)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (30454199.py, line 1)

In [11]:
_Name = "Ram"
_name = "Sam"
print(_name)
print(_Name)

Sam
Ram

In [12]:
x,y,z = 13

TypeError: cannot unpack non-iterable int object

In [13]:
x,y,z = 11,12,13
print(x,y,z)

11 12 13

In [14]:
x,y,z  = 12,12,12
print(x,y,z)

12 12 12

# python output variables

In [17]:
x = "python"
y = "is"
z = "awesome"
print(x,y,z)
print(y,z,x)

python is awesome
is awesome python

# python data types

In [18]:
x = 12
print(x)
print(type(x))

12
<class 'int'>

In [20]:
a = "Ram"
b = 'Sam'
print(a)
print(type(a))
print(type(b))

Ram
<class 'str'>
<class 'str'>

In [23]:
m = 46271457125418.24511412658
print(type(m))

<class 'float'>

In [25]:
n = 2+5j
print(type(n))

<class 'complex'>

In [35]:
p = [1,2,3,4]
l = [1,2.5,3,'a',True,"b"]
print(type(p))
print(type(l))

<class 'list'>
<class 'list'>

In [36]:
t = (1,2.5,3,'a',True,"b")
print(type(t))

<class 'tuple'>

In [37]:
s = {1,2.5,3,'a',True,"b"}
print(type(s))

<class 'set'>

In [108]:
q = True
print(type(q))

<class 'bool'>

In [109]:
x = None
print(type(x))

<class 'NoneType'>

In [110]:
a,b,_ = 1,2,3
print(a,b)

1 2

In [112]:
a = b = c = 50
print(a,b,c)

50 50 50

In [38]:
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      str         Ram
b                      str         Sam
dataframe_columns      function    <function dataframe_columns at 0x132227ce0>
dataframe_hash         function    <function dataframe_hash at 0x132224400>
dtypes_str             function    <function dtypes_str at 0x132227240>
get_dataframes         function    <function get_dataframes at 0x132227f60>
getpass                module      <module 'getpass' from '/<...>b/python3.13/getpass.py'>
hashlib                module      <module 'hashlib' from '/<...>b/python3.13/hashlib.py'>
import_pandas_safely   function    <function import_pandas_safely at 0x132225bc0>
is_data_frame          function    <function is_data_frame at 0x1322263e0>
json                   module      <module 'json' from '/opt<...>on3.13/json/__init__.py'>
l                      list        n=6
m                      float       46271457125418.24
myAge                  int         30
n                      complex     (2+5j)
p                      list        n=4
q                      list        n=6
r                      set         {1, 2.5, 3, 'b', 'a'}
s                      set         {1, 2.5, 3, 'b', 'a'}
t                      tuple       n=6
x                      str         Ram
y                      str         Sam
z                      str         awesome

# Operators in python

In [ ]:
# Use of Arithmatic Operator

In [52]:
x,y = 20,5
print("Addition : " , (x+y))
print("Substraction : ", x-y)
print("Multiplicaation : ",x*y)
print("Division : ",x/y)

Addition :  25
Substraction :  15
Multiplicaation :  100
Division :  4.0

In [55]:
x,y = 15,4
print("classical division : ", x/y)
print("floor division : ", x//y)

classical division :  3.75
floor division :  3

In [57]:
x,y = 18,4
print("use of modulus operation for remainder : ", (x%y))

use of modulus operation for remainder :  2

In [60]:
# ( a** b ) mean raising a  raised to the power of b 
print(2**7)

128

In [61]:
a = "Jai"
b = "guru"
print(a+b)

Jaiguru

In [62]:
a = "Jai"
b = "guru"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [63]:
a = "Jai"
b = "guru"
print(a*b)

TypeError: can't multiply sequence by non-int of type 'str'

In [64]:
a = "Jai"
b = "guru"
print(a/b)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [69]:
a,b,c = 13, 15,18
res1 = a * b
print(res1)

195

In [77]:
sol = ((((234*654)-53462)+465127542)*45436**44)
print(sol)

3919846118487824536018913454717090072507528130522483522908878824515783875029910214828903764891318328581152708023430303937832753603594212027576042377858219757879007834163451164567413157674881863269904465766127763456

In [82]:
a = True
b = False
print( a and b)
print( a & b)
print( a or b)
print( a | b)

False
False
True
True

In [87]:
print(not a)
print(not b)

False
True

In [90]:
# for data analytics we need to learn about
# 1. Numpy
# 2. Pandas
# 3. Seaborn
# 4. Matplotlib
# 5. Plotly
# 6. jupyterhub

# Built-in Funtions in python

# abs() function

In [95]:
# it changes negative value to positive

print(abs(-25.3435))
print( abs(3-5j))

25.3435
5.830951894845301

# bin() function

In [96]:
# it returns decimal/float integer value to binary value

x,y = 13,2342

print(bin(x))
print(bin(y))

0b1101
0b100100100110

# bytes() function

In [99]:
# it returns decimal/float integer value to bytes value

x = 13

print(bytes(x))

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

# chr() function

In [135]:
# changes the given integer value to its unicode character value

print(chr(33), chr(40), chr(50), chr(60), chr(70))
print(chr(80),chr(90), chr(100),chr(110),chr(120),chr(125))

! ( 2 < F
P Z d n x }

# complex() function

In [142]:
# in 2 + 3j
# 2 = real number
# 3j = imaginary number

# this function takes min 1 and max 2 parameters and returns a complex number

print(complex(8))

print(complex(-17.8))

print(complex(3,5))

print(complex(2.5,1.8))

print(complex(12,-9))

print(complex(-17.8,-45.21))

(8+0j)
(-17.8+0j)
(3+5j)
(2.5+1.8j)
(12-9j)
(-17.8-45.21j)

# float() function

In [144]:
# it change the integer value to floatinf point number

print(float(12))

print(float(12.5))

12.0
12.5

# int() function

In [170]:
# it change the given parameter into integer

print(int(12))

a, b,c = 15.23, '123', False
print(type(a), type(b), type(c))

a,b,c = int(a), int(b), int(c)
print(type(a), type(b), type(c))

12
<class 'float'> <class 'str'> <class 'bool'>
<class 'int'> <class 'int'> <class 'int'>

# str() function

In [165]:
# it change the given parameter value into string

w,x,y,z = 123, 300.21, True, 3+5j
print(type(w), type(x), type(y), type(z))

w, x,y,z = str(w), str(x), str(y), str(z)
print(type(w), type(x), type(y), type(z))

<class 'int'> <class 'float'> <class 'bool'> <class 'complex'>
<class 'str'> <class 'str'> <class 'str'> <class 'str'>

# help() function

In [171]:
# it describes the inbuilt datatypes working if given as parameter

help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating-point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(self, ndigits=<unrepresentable>, /)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(self, /)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        sys.byteorder as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False)
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        sys.byteorder as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

# input() function

In [174]:
# it takes the input from the user and makes it of String type by default

x = input("Enter your name : ")
print("Entered name is : ", x)

Enter your name :  Ram

Entered name is :  Ram

In [180]:
x = input("Enter first value")
print(type(x))

# explicit type casting of x into int type
x = int(x)
print(type(x))

# same time type casting of y into int type
y = int(input("Enter second value"))
print(type(y))


sum = x + y
print(x, " + ", y, " = ", sum)

Enter first value 11

<class 'str'>
<class 'int'>

Enter second value 22

<class 'int'>
11  +  22  =  33

# Control Flow Statements / Loops

In [1]:
#IF-ELIF-ELSE condition

import random as rd
a = rd.randint(20,100)
print(a)

if a>=90:
    print("A+ grade");
elif a>=80 and a<=89:
    print("A grade");
elif a>=70 and a<=79:
    print("B+ grade");
elif a>=60 and a<=69:
    print("B grade");
elif a>=50 and a<=59:
    print("C grade");
elif a>=40 and a<=49:
    print("D grade");
else:
    print("FAIL");

100
A+ grade

In [9]:
# WHILE LOOP
num = int(input("Enter any number of which you want the table : "));
a,z = 1,10
while a<=z:
    print(a*num, end=" ")
    a = a+1

Enter any number of which you want the table :  88

88 176 264 352 440 528 616 704 792 880

In [83]:
# WHILE-ELSE

import random as rd
a = 1
b = rd.randint(1,10)

print("Current value of b : ",b)
while a <= 10:
    if b == 7 or b == 3:
        print("Loop broken at preset stop value of b = ", b);
        break;
    print("Jai Shree Ram : ",a);
    a = a+1;
else :
    print("Loop finished without break")

Current value of b :  7
Loop broken at preset stop value of b =  7

In [107]:
# FOR-LOOP

for x in "ksjdbfwieqbhlebfewljh":
    print(x, end=" ")

print("\n-----------------------------")

fruits = ['apple','mango','banana','grapes','dates'];
for f in fruits:
    print(f, end='  ')

print("\n-----------------------------")

fr = ['apple','mango','banana','grapes','dates'];
for i in range(len(fruits)):
    print(i, fr[i])

print("\n-----------------------------")

for x in range(21):
    print(x, end=" ")
    
print("\n-----------------------------")

for x in range(2,20):
    print(x, end=" ")

print("\n-----------------------------")

for x in range(-70,100, 18):
    print(x, end=" ")

print("\n-----------------------------")

k s j d b f w i e q b h l e b f e w l j h
-----------------------------
apple  mango  banana  grapes  dates
-----------------------------
0 apple
1 mango
2 banana
3 grapes
4 dates

-----------------------------
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
-----------------------------
2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
-----------------------------
-70 -52 -34 -16 2 20 38 56 74 92
-----------------------------

In [137]:
# FOR-ELSE

n1 = int(input('Enter the First number : \t'))
n2 = int(input('Enter the Last number : \t'))

print("Prime Number between ",n1," and ",n2," are :")

for a in range(n1,n2):
    for b in range(2,a):
        if a % b == 0:
            break;
    else:
        print(a, end=" ");

Enter the First number : 	 1
Enter the Last number : 	 11

Prime Number between  1  and  11  are :
1 2 3 5 7

In [140]:
# MATCH-CASE

import random as rd

monthDigit = rd.randint(1,12)

print("Digit of the month : ",monthDigit,"\nIt is",end=" ")

match(monthDigit):
    case 2|3:
        print("Vasant Ritu / Spring season")
    case 4|5:
        print("Grishm Ritu / Summer season")
    case 6|7:
        print("Varsha Ritu / Monsoon season")
    case 8|9:
        print("Sharad Ritu / Autumn season")
    case 10|11:
        print("Hemant Ritu / Pre- winter sesaon")
    case 12|1:
        print("Shishir Ritu / Winter season")

Digit of the month :  10
It is Hemant Ritu / Pre- winter sesaon

In [138]:
print(3)

3

# USER-DEFINED FUNCTION

In [123]:
# Defining a function

def myFun():
    print("This is my Function")

# calling the defined function

myFun()

This is my Function

In [124]:
def myName(name):
    print("My name is",name)

myName("Raja")

My name is Raja

In [141]:
def stdDetail(nm,ag,cl):
    Name = nm
    Age, Class = ag, cl
    return [Name,Age,Class]

dt = stdDetail("Ram",18,12)
print(dt[0], " is of ",dt[1]," and studies in class ",dt[2],".")

dt = stdDetail("Sita",18,12)
print(dt[0], " is of ",dt[1]," and studies in class ",dt[2],".")

Ram  is of  18  and studies in class  12 .
Sita  is of  18  and studies in class  12 .

# STRINGS in PYTHON

In [142]:
# String are the group of characters or single character enclosed in single inverted commas or double inverted commas

str0 = 'A'
str1 = "1"
str2 = 'Python'
str3 = "Snake"
print(str0,"\n",str1,"\n",str2,"\n",str3,"\n")

A
 1
 Python
 Snake

In [143]:
str4 = "The Hindu calendar has traditionally divided the year into these six seasons, with each season comprising two solar months. This classification dates back to Vedic times and is deeply rooted in the agricultural cycle of India. While the four season classification is more common worldwide, Hindus still follow the six season calendar for religious and cultural purposes."
print(str4)

The Hindu calendar has traditionally divided the year into these six seasons, with each season comprising two solar months. This classification dates back to Vedic times and is deeply rooted in the agricultural cycle of India. While the four season classification is more common worldwide, Hindus still follow the six season calendar for religious and cultural purposes.

In [145]:
# use of triple inverted commas allow us to print the line in our style"
str5 = """ The Hindu calendar has traditionally
divided the year into these six seasons, 
with each season comprising two solar months. 
This classification dates back to 
Vedic times and is deeply rooted in 
the agricultural cycle of India. 
While the four season classification is more common worldwide, 
Hindus still follow the six season calendar for 
religious and cultural purposes. """

print(str5)

 The Hindu calendar has traditionally
divided the year into these six seasons,
with each season comprising two solar months.
This classification dates back to
Vedic times and is deeply rooted in
the agricultural cycle of India.
While the four season classification is more common worldwide,
Hindus still follow the six season calendar for
religious and cultural purposes.

In [156]:
# Indexing of String

greeting = "Jai Siya Ram"
print(len(greeting))
print("--------------------")
print(greeting[0])
print(greeting[1])
print(greeting[5])
print(greeting[11])
print("--------------------")
print(greeting[-1])
print(greeting[-2])
print(greeting[-3])
print(greeting[-6])

12
--------------------
J
a
i
m
--------------------
m
a
R
y

In [223]:
# Slicing of String

sen = "Congratulations Raja for your acheivement"
print("length of the sentence : ",len(sen))
print("--------------------")
print(sen[0:])
print(sen[0::3])
print("--------------------")
print(sen[4:7])
print(sen[8:14])
print(sen[16:20])
print(sen[21:29])

#the 3rd parameter is STEPS and it is (a = a+1) always

print(sen[21:29:3])
print("--------------------")
print(sen[:25])
print(sen[:25:3])
print("------- reversing using negtive steps -------------")
print(sen[::-1])
print("--------- negative indexes -----------")
print(sen[-1:])
print(sen[:-1])
print(sen[-20:-2])
print(sen[-25:-2:3])
print("--------------------")
print(sen[:25:3] + sen[-25:-2:3])
print(sen[:25:3] + sen[-25:-2:3] + " yoyo")

length of the sentence :  41
--------------------
Congratulations Raja for your acheivement
Cgtao jf uaeen
--------------------
rat
lation
Raja
for your
f u
--------------------
Congratulations Raja for
Cgtao jf
------- reversing using negtive steps -------------
tnemeviehca ruoy rof ajaR snoitalutargnoC
--------- negative indexes -----------
t
Congratulations Raja for your acheivemen
for your acheiveme
Raoyrcim
--------------------
Cgtao jf Raoyrcim
Cgtao jf Raoyrcim yoyo

# .upper() and .lower() function

In [224]:
print("--------- use of .upper() method -----------")
print(sen.upper())
nm = sen[16:20].upper()
print(nm)
print("--------- use of .lower() method -----------")
print(nm.lower())

--------- use of .upper() method -----------
CONGRATULATIONS RAJA FOR YOUR ACHEIVEMENT
RAJA
--------- use of .lower() method -----------
raja

# .replace() function

In [237]:
intro = "Hi, my name is raja"
print(intro)
print(intro.replace('raja','Rajat.'))

a = "My belief is that this project will arise some issues."
print(a)
print(a.replace('is','@@'))

Hi, my name is raja
Hi, my name is Rajat.
My belief is that this project will arise some issues.
My belief @@ that th@@ project will ar@@e some @@sues.

# .find() function - to find the index of first encountered

In [242]:
a = "Jai Siya Ram"
print(a.find("a"))
print(a.find("R"))
print(a.find("Ram"))

1
9
9

# LIST in python

In [322]:
# list uses square brackates
# allows duplicate values, various data-type elements

L1 = [1,2,3,4,1,2,3,True,'ram',11.12,"Sita",2+5j]
print("lenth of L1 : ",len(L1))
print(L1)
print("----------------------------------\n")
L2 = ['a',122,"Radha",67.33,False,8-6j]
print("lenth of L2 : ",len(L2))
print(L1+L2)
print(len(L1+L2))
print("----------------------------------\n")
L1 = [1,2,3,4,1,2,3,True,'ram',11.12,"Sita",2+5j,L2]
print(L1)
print("new lenth of L1 : ",len(L1))
print("-------------- Accessing list element --------------------\n")
print(L1[1])
print(L1[10])
print(L1[-4])
print(L1[12])
print(L1[12][3])
print(L1[12][-2])

#aceesing index of Sita after index 0
print(L1.index('Sita'))
#aceesing index of 2 from index 0
print(L1.index(2))
#aceesing index of 2 after index 3
print(L1.index(2,3))

print("\n-------------- SLICING in LIST --------------------\n")
L3 = ["apple",12,'kivi',17.9,True,7+9j]
print(L3[::])
print(L3[::2])

print("\n-------------- sorting the LIST elements --------------------\n")
L4 = [45,21,67,32,89,34,56,98,11,33]
print(L4)
L4.sort()
print(L4)

print("\n--------- reversing the LIST elements using .reverse() funtion, negative steps ---------\n")
L3.reverse()
print(L3)
L3 = L3[::-1]
print(L3)

print(L3[::-3])

print()

print(L3[2:])
print(L3[4::-1])

print()

print(L3[:50])
print(L3[:3:-1])

print()

print(L3[1:50])
print(L3[1:50:2])

print("\n-------------- mutability if the elements of LIST --------------------\n")

print(L3)
L3[2] = "RAM"
print(L3)

print("\n-------------- .insert() function in LIST --------------------\n")
print(L3)
L3.insert(0,"Hello")
print(L3)
L3.insert(4,None)
print(L3)

print("\n-------------- .append() function of LIST [insertion at last] --------------------\n")

print(L3)
L3.append("Krishna")
print(L3)
L3.append(212)
print(L3)

print("\n-------------- replacing elements of LIST --------------------\n")
print(L3)
L3[2:4] = ["Jai",'Siya',"Ram",1008]
print(L3)

print("\n-------------- removing elements from LIST , .remove(), .pop() function --------------------\n")
print(L3)
L3[2:8] = []
print(L3)
L3.remove("apple")
print(L3)
L3.pop()
print(L3)

lenth of L1 :  12
[1, 2, 3, 4, 1, 2, 3, True, 'ram', 11.12, 'Sita', (2+5j)]
----------------------------------

lenth of L2 :  6
[1, 2, 3, 4, 1, 2, 3, True, 'ram', 11.12, 'Sita', (2+5j), 'a', 122, 'Radha', 67.33, False, (8-6j)]
18
----------------------------------

[1, 2, 3, 4, 1, 2, 3, True, 'ram', 11.12, 'Sita', (2+5j), ['a', 122, 'Radha', 67.33, False, (8-6j)]]
new lenth of L1 :  13
-------------- Accessing list element --------------------

2
Sita
11.12
['a', 122, 'Radha', 67.33, False, (8-6j)]
67.33
False
10
1
5

-------------- SLICING in LIST --------------------

['apple', 12, 'kivi', 17.9, True, (7+9j)]
['apple', 'kivi', True]

-------------- sorting the LIST elements --------------------

[45, 21, 67, 32, 89, 34, 56, 98, 11, 33]
[11, 21, 32, 33, 34, 45, 56, 67, 89, 98]

--------- reversing the LIST elements using .reverse() funtion, negative steps ---------

[(7+9j), True, 17.9, 'kivi', 12, 'apple']
['apple', 12, 'kivi', 17.9, True, (7+9j)]
[(7+9j), 'kivi']

['kivi', 17.9, True, (7+9j)]
[True, 17.9, 'kivi', 12, 'apple']

['apple', 12, 'kivi', 17.9, True, (7+9j)]
[(7+9j), True]

[12, 'kivi', 17.9, True, (7+9j)]
[12, 17.9, (7+9j)]

-------------- mutability if the elements of LIST --------------------

['apple', 12, 'kivi', 17.9, True, (7+9j)]
['apple', 12, 'RAM', 17.9, True, (7+9j)]

-------------- .insert() function in LIST --------------------

['apple', 12, 'RAM', 17.9, True, (7+9j)]
['Hello', 'apple', 12, 'RAM', 17.9, True, (7+9j)]
['Hello', 'apple', 12, 'RAM', None, 17.9, True, (7+9j)]

-------------- .append() function of LIST [insertion at last] --------------------

['Hello', 'apple', 12, 'RAM', None, 17.9, True, (7+9j)]
['Hello', 'apple', 12, 'RAM', None, 17.9, True, (7+9j), 'Krishna']
['Hello', 'apple', 12, 'RAM', None, 17.9, True, (7+9j), 'Krishna', 212]

-------------- replacing elements of LIST --------------------

['Hello', 'apple', 12, 'RAM', None, 17.9, True, (7+9j), 'Krishna', 212]
['Hello', 'apple', 'Jai', 'Siya', 'Ram', 1008, None, 17.9, True, (7+9j), 'Krishna', 212]

-------------- removing elements from LIST , .remove(), .pop() function --------------------

['Hello', 'apple', 'Jai', 'Siya', 'Ram', 1008, None, 17.9, True, (7+9j), 'Krishna', 212]
['Hello', 'apple', True, (7+9j), 'Krishna', 212]
['Hello', True, (7+9j), 'Krishna', 212]
['Hello', True, (7+9j), 'Krishna']

# TUPLE in python

In [406]:
# ordered, immutable (unchangeable), can store different data types and duplicates
# uses round brackets ().

t1 = (12,)
print(type(t1))

t3 = tuple(["Jai",'Siya',1001])
print(t3)

t2 = (17,'Ram',13.33,"Siya",None,3-5j,10,"Siya", t3, L2)
print(t2)
print("Count of siya in tuple t2 : ", t2.count("Siya"))

t4 = tuple("India")
print(t4)

print("--------- Accessing the elements of tuple by Inexing ------------")

#accessing element index by name/value
print("Length of tuple t2 is : ",len(t2))

#accessing first element
print(t2[0])

#accessing last element
print(t2[-1])


#accessing 7th last element
print(t2[-7])

#accessing 2nd element of 9th element
print(t2[9][2])

#accessing element index by name/value
print(t2.index(13.33))
print(t2[9].index(False))

print("--------- SLICING in tuple ------------")

print(t2)
print(t2[2:6])
print(t2[2:7:2])

# selected range element revese
print(t2[4::-1])

print(t2[2:-2])
print(t2[2:-2:2])

print(t2[-2:2:-2])

print("--------- Tuple packing and unpacking ------------")

# packing
t5 = 30,50,20,10,40
print(t5)

# Unpacking
d,b,e,a,c = t5
print(a,b,c,d,e)

print("--------- sorting Tuple elements ------------")
print(t5)
print("minimum : ",min(t5))
print("maximum : ",max(t5))
print(sorted(t5))
print("Sum total : ",sum(t5))
print("Length : ",len(t5))

print(t4+t5)
print(t4*4)
print(t4+t4)
# # we can't add elements to a tuple directly once tuple is formed
# # but we can change the TUPLE in LIST then add the element and again change the LIST to TUPLE

# lt = list(t5)
# print(lt)
# lt.append(50)
# print(lt)
# lt.insert(0,1)
# print(lt)
# lt.insert(3,15)
# print(lt)
# t5 = tuple(lt)
# print(t5)

# # we can't remove elements to a tuple directly once tuple is formed
# # but we can change the TUPLE in LIST then remove the element and again change the LIST to TUPLE

# lt = list(t5)
# print(lt)
# lt.remove(30)
# print(lt)
# lt.pop()
# print(lt)
# lt[2:4] = []
# print(lt)
# t5 = tuple(lt)
# print(t5)

<class 'tuple'>
('Jai', 'Siya', 1001)
(17, 'Ram', 13.33, 'Siya', None, (3-5j), 10, 'Siya', ('Jai', 'Siya', 1001), ['a', 122, 'Radha', 67.33, False, (8-6j)])
Count of siya in tuple t2 :  2
('I', 'n', 'd', 'i', 'a')
--------- Accessing the elements of tuple by Inexing ------------
Length of tuple t2 is :  10
17
['a', 122, 'Radha', 67.33, False, (8-6j)]
Siya
Radha
2
4
--------- SLICING in tuple ------------
(17, 'Ram', 13.33, 'Siya', None, (3-5j), 10, 'Siya', ('Jai', 'Siya', 1001), ['a', 122, 'Radha', 67.33, False, (8-6j)])
(13.33, 'Siya', None, (3-5j))
(13.33, None, 10)
(None, 'Siya', 13.33, 'Ram', 17)
(13.33, 'Siya', None, (3-5j), 10, 'Siya')
(13.33, None, 10)
(('Jai', 'Siya', 1001), 10, None)
--------- Tuple packing and unpacking ------------
(30, 50, 20, 10, 40)
10 50 40 30 20
--------- sorting Tuple elements ------------
(30, 50, 20, 10, 40)
minimum :  10
maximum :  50
[10, 20, 30, 40, 50]
Sum total :  150
Length :  5
('I', 'n', 'd', 'i', 'a', 30, 50, 20, 10, 40)
('I', 'n', 'd', 'i', 'a', 'I', 'n', 'd', 'i', 'a', 'I', 'n', 'd', 'i', 'a', 'I', 'n', 'd', 'i', 'a')
('I', 'n', 'd', 'i', 'a', 'I', 'n', 'd', 'i', 'a')

# DICTIONARY in python

In [459]:
# unordered, mutable collection of key-value pairs and defined using {} 
# duplicates not allowed , will take last same key-value pair only

d0 = dict(Country="India", River="Ganga", Capital="Delhi", CountryCode=91)
print(d0)

d1 = {
    'Name' : "Raja",
    'Age' : 30,
    'Salary' : 90857.87,
    'titles' : ['King',"Champion",1001],
    'Name' : "Ramesh",
    'sub' : ('Hindi',"Math",407,1081.65),
    'Error' : None,
    'complex' : 3+5j,
}
print(d1)

print("\n---------- Accessing dictionary Elements, Keys, values ------------\n")

print(d1.keys())
print(d1.values())
print(d1.items())

print(d1["Name"])
print(d1["titles"][1])
print(d1.get('Age'))
print(d1.get('City',"Not Available"))

print("\n---------- Adding/ updating dictionary items ------------\n")

print(d1)
d1['City'] = "Delhi"
print(d1)

d1.update({'County': "India", 'Phone code': 91})
print(d1)
d1.update({'titles' : 'Hero'})
print(d1)

print("\n---------- update dictionary using unpacking ** ------------\n")

d1 = {**d1,**{'Name':"Rajat",'Zip':110001}}
print(d1)

print("\n---------- Delete dictionary elements  ------------\n")
d1.pop('titles')
print(d1)
d1.popitem()
print(d1)
del d1['City']
print(d1)
d2 = d1
print(d2)
d2.clear()
print(d2)
print(d1)
d1 = {'Name': 'Rajat', 'Age': 30, 'Salary': 90857.87, 'County': 'India', 'Phone code': 91}
print(d1)
print("Length of d1 : ", len(d1))

{'Country': 'India', 'River': 'Ganga', 'Capital': 'Delhi', 'CountryCode': 91}
{'Name': 'Ramesh', 'Age': 30, 'Salary': 90857.87, 'titles': ['King', 'Champion', 1001], 'sub': ('Hindi', 'Math', 407, 1081.65), 'Error': None, 'complex': (3+5j)}

---------- Accessing dictionary Elements, Keys, values ------------

dict_keys(['Name', 'Age', 'Salary', 'titles', 'sub', 'Error', 'complex'])
dict_values(['Ramesh', 30, 90857.87, ['King', 'Champion', 1001], ('Hindi', 'Math', 407, 1081.65), None, (3+5j)])
dict_items([('Name', 'Ramesh'), ('Age', 30), ('Salary', 90857.87), ('titles', ['King', 'Champion', 1001]), ('sub', ('Hindi', 'Math', 407, 1081.65)), ('Error', None), ('complex', (3+5j))])
Ramesh
Champion
30
Not Available

---------- Adding/ updating dictionary items ------------

{'Name': 'Ramesh', 'Age': 30, 'Salary': 90857.87, 'titles': ['King', 'Champion', 1001], 'sub': ('Hindi', 'Math', 407, 1081.65), 'Error': None, 'complex': (3+5j)}
{'Name': 'Ramesh', 'Age': 30, 'Salary': 90857.87, 'titles': ['King', 'Champion', 1001], 'sub': ('Hindi', 'Math', 407, 1081.65), 'Error': None, 'complex': (3+5j), 'City': 'Delhi'}
{'Name': 'Ramesh', 'Age': 30, 'Salary': 90857.87, 'titles': ['King', 'Champion', 1001], 'sub': ('Hindi', 'Math', 407, 1081.65), 'Error': None, 'complex': (3+5j), 'City': 'Delhi', 'County': 'India', 'Phone code': 91}
{'Name': 'Ramesh', 'Age': 30, 'Salary': 90857.87, 'titles': 'Hero', 'sub': ('Hindi', 'Math', 407, 1081.65), 'Error': None, 'complex': (3+5j), 'City': 'Delhi', 'County': 'India', 'Phone code': 91}

---------- update dictionary using unpacking ** ------------

{'Name': 'Rajat', 'Age': 30, 'Salary': 90857.87, 'titles': 'Hero', 'sub': ('Hindi', 'Math', 407, 1081.65), 'Error': None, 'complex': (3+5j), 'City': 'Delhi', 'County': 'India', 'Phone code': 91, 'Zip': 110001}

---------- Delete dictionary elements  ------------

{'Name': 'Rajat', 'Age': 30, 'Salary': 90857.87, 'sub': ('Hindi', 'Math', 407, 1081.65), 'Error': None, 'complex': (3+5j), 'City': 'Delhi', 'County': 'India', 'Phone code': 91, 'Zip': 110001}
{'Name': 'Rajat', 'Age': 30, 'Salary': 90857.87, 'sub': ('Hindi', 'Math', 407, 1081.65), 'Error': None, 'complex': (3+5j), 'City': 'Delhi', 'County': 'India', 'Phone code': 91}
{'Name': 'Rajat', 'Age': 30, 'Salary': 90857.87, 'sub': ('Hindi', 'Math', 407, 1081.65), 'Error': None, 'complex': (3+5j), 'County': 'India', 'Phone code': 91}
{'Name': 'Rajat', 'Age': 30, 'Salary': 90857.87, 'sub': ('Hindi', 'Math', 407, 1081.65), 'Error': None, 'complex': (3+5j), 'County': 'India', 'Phone code': 91}
{}
{}
{'Name': 'Rajat', 'Age': 30, 'Salary': 90857.87, 'County': 'India', 'Phone code': 91}
Length of d1 :  5

# SET in python

In [500]:
# An unordered collection of unique elements (no duplicates allowed).
# Defined using curly braces {} or the set() constructor.
# Elements must be immutable (numbers, strings, tuples, etc.), but the set itself is mutable.

s1 = {"Ram",12,None,'Siya',13.72,False,9-4j,12,"Siya"}
print(type(s1))
print(s1)

s2 = set([13,'Rahi',12.12])
print(s2)

s3 = set("banana")
print(s3)

<class 'set'>
{None, False, 'Siya', 'Ram', (9-4j), 12, 13.72}
{12.12, 13, 'Rahi'}
{'b', 'a', 'n'}

In [477]:
# Add or remove

s2.add(3+5j)
print(s2)

s2.update([11,12,13])
print(s2)

# delete element, if not found error occurs
s2.remove(12)
print(s2)

# delete element, if not found yet also No error occurs
s2.discard(12)
print(s2)

s2.pop()
print(s2)

s2.clear()
print(s2)

{13, 11, (3+5j), 'Rahi'}
{13, 11, 12, (3+5j), 'Rahi'}
{13, 11, (3+5j), 'Rahi'}
{13, 11, (3+5j), 'Rahi'}
{11, (3+5j), 'Rahi'}
set()

In [494]:
# Mathematical operations

s4 = set([1,2,3,4,5])
s5 = set([4,5,6,7])

print(s4,s5)

print("\n-----------------------------------\n")

# union operation
print(s4.union(s5))
print(s4 | s5)

print("\n-----------------------------------\n")

# intersection operation

print(s4.intersection(s5))
print(s4 & s5)

print("\n-----------------------------------\n")

# difference operation

print(s4.difference(s5))
print(s4 - s5)
print(s5 - s4)

print("\n-----------------------------------\n")

# asymmetric difference operation

print(s4.symmetric_difference(s5))
print(s4 ^ s5)
print(s5 ^ s4)

{1, 2, 3, 4, 5} {4, 5, 6, 7}

-----------------------------------

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

-----------------------------------

{4, 5}
{4, 5}

-----------------------------------

{1, 2, 3}
{1, 2, 3}
{6, 7}

-----------------------------------

{1, 2, 3, 6, 7}
{1, 2, 3, 6, 7}
{1, 2, 3, 6, 7}

In [514]:
# Subset, superSet and Disjoint operation

s4 = set([3,4,5])
s5 = set([7,4,6,3,5])

print(s4)
print(s5)

print(s4.issubset(s5))
print(s5.issubset(s4))
print("\n-----------------------------------\n")
print(s4.issuperset(s5))
print(s5.issuperset(s4))
print("\n-----------------------------------\n")
print(s4.isdisjoint({1,2}))
print(s5.isdisjoint({4,5}))

{3, 4, 5}
{3, 4, 5, 6, 7}
True
False

-----------------------------------

False
True

-----------------------------------

True
False

In [516]:
# math operatons

print(s4,s5)
print("Sum total of S5 = ",sum(s4)," Sum total of S5 = ",sum(s5))
print("Max number in s4 is  : ",max(s4)," Max number in s5 is  : ",max(s5))
print("Min number in s4 is  : ",min(s4)," Min number in s5 is  : ",min(s5))
print("Length of s4 is  : ",len(s4)," Length of s5 is  : ",len(s5))
print(sorted(s5))

{3, 4, 5} {3, 4, 5, 6, 7}
Sum total of S5 =  12  Sum total of S5 =  25
Max number in s4 is  :  5  Max number in s5 is  :  7
Min number in s4 is  :  3  Min number in s5 is  :  3
Length of s4 is  :  3  Length of s5 is  :  5
[3, 4, 5, 6, 7]

In [518]:
# frozenset : the elements of this kkind of set are immutable

fs = frozenset({12,23,34,45,56})
print(type(fs))
print(fs)

<class 'frozenset'>
frozenset({34, 23, 56, 12, 45})

In [519]:
fs.add(22)

AttributeError: 'frozenset' object has no attribute 'add'